*::-webkit-scrollbar-track
  background alpha(#000, 0.1)

*::-webkit-scrollbar-thumb
  background #aaa

.outer-wrapper
  width 100%
  height 100%

  padding 0
  margin 0

  padding-top 60px

  overflow-y auto

  .nav-bar
    position fixed
    top 0
    left 0
    right 0

    display flex
    justify-content center
    align-items center

    background linear-gradient(45deg, dodgerblue, purple)
    background-attachment fixed

    height 60px
    width 100%

    box-shadow 0 2px 4px #eee

    h1.title
      font-family Lato Medium
      font-size 30px
      color white

    .search-box
      padding 10px 24px
      width 600px

      background white
      border none
      outline none

      border-radius 3px

      font-family Arial, Helvetica, sans-serif
      font-size 20px

      animation fade-in 1s 0.5s
      animation-fill-mode backwards

  .card
    padding 20px
    margin 30px auto

    max-width 800px

    box-shadow 0 3px 5px alpha(#000, 0.2)

    border-radius 3px

    h1
      font-family "Lato Bold"

    .line
      display flex
      font-family Lato

    .title
      font-family Lato

    .margin-bottom
      margin-bottom 15px

  .item-list
    margin 30px auto

    max-width 800px

    box-shadow 0 3px 5px alpha(#000, 0.2)

    border-radius 3px

    .item
      padding 20px
      margin 0

      border-radius 3px
      border-bottom 1px solid alpha(#000, 0.08)

    h1
      font-family "Lato Bold"

    .line
      display flex
      font-family Lato

    .title
      font-family Lato

    .margin-bottom
      margin-bottom 15px
