*::-webkit-scrollbar-thumb
    background white

.outer-wrapper
    display flex
    flex-flow column nowrap
    align-items stretch

    width 100%
    height 100%

    padding 20px

    background #eee

    .members
        display flex
        flex-flow column nowrap
        align-items center

        flex 0 0 auto
        height 50%

        overflow-y auto

        .member
            width 800px
            padding 20px
            margin 5px

            background white
            
    .editors
        display flex
        flex-flow column nowrap
        align-items center

        flex 0 0 auto
        height 50%

        overflow-y auto

        .editor
            width 800px
            padding 20px
            margin 5px

            background white