/*
*::-webkit-scrollbar-track
  background alpha(#000, 0.1)


*::-webkit-scrollbar-thumb
  background #aaa
*/

.outer-wrapper
  display flex

  width 100%
  height 100%
  background #eee

  font-family Lato

  .members
    flex 0 0 auto
    padding 20px

    width 50%
    overflow-y auto

    border-right 1px solid #ddd

    .member
      padding 20px
      margin 30px auto

      background white
      border-radius 3px

  .editors
    flex 0 0 auto
    padding 20px

    width 50%
    overflow-y auto

    .editor
      padding 20px
      margin 30px auto

      background white
      border-radius 3px
