.outer-wrapper
    width 100%
    height 2000px
    background #eee
    .members 
        float left
        align-items center
        width 50%
        overflow scroll
        .member        
            background white          
    .editors
        align-items center
        width 50%
        float right
        overflow auto
        .editor
           
            margin 5px
            background white