.main
  width 100%
  height 100%
  padding 20px
  margin 0

  display flex
  flex-flow column nowrap
  align-items center

  overflow-y auto

  &::-webkit-scrollbar-track
    background alpha(#000, 0.1)


  &::-webkit-scrollbar-thumb
    background #aaa

  input[type=text], select
      width 100%
      padding 12px 20px
      margin 8px 0
      display inline-block
      border 1px solid #ccc
      border-radius 4px
      box-sizing border-box

  input[type=email], select
      width 100%
      padding 12px 20px
      margin 8px 0
      display inline-block
      border 1px solid #ccc
      border-radius 4px
      box-sizing border-box

  input[type=url], select
      width 100%
      padding 12px 20px
      margin 8px 0
      display inline-block
      border 1px solid #ccc
      border-radius 4px
      box-sizing border-box

  input[type=password], select
      width 100%
      padding 12px 20px
      margin 8px 0
      display inline-block
      border 1px solid #ccc
      border-radius 4px
      box-sizing border-box

  input[type=submit]
      width 100%
      background-color #4CAF50
      color white
      padding 14px 20px
      margin 8px 0
      border none
      border-radius 4px
      cursor pointer

  input[type=submit]:hover
      background-color #45a049

  div
      border-radius 5px
      background-color #f2f2f2
      padding 20px

  .main
      max-width 600px
      margin auto
      height 100%

  h1
      text-align center
