<form style="padding:250px;" class="form" #f="ngForm" (ngSubmit)="SaveForm()">
    <div style="padding:50px;" class="form-group">
        <label class="col-md-2">Name Quiz</label>
        <div class="col-md-10"><input type="text" name="name_quize" autofocus /></div>
    </div>
    <!-- Edit Question, Answer and key Answer HERE-->
    <div style="padding:50px;" class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-success">Cancel</button>
    </div>
</form>