<form  style="padding:300px;" class="form" #f="ngForm" (ngSubmit)="SaveForm()">
  <div style="padding:50px;" class="form-group ">
    <label class="col-md-2">Name Quize</label>
    <div class="col-md-10"><input type="text" name="name_quize" [(ngModel)]="report.name_quize" autofocus/></div>
  </div>
  <div style="padding:50px;" class="form-group">
    <label class="col-md-2">Content Report</label>
    <div class="col-md-10"><textarea class="form-control" rows="5" name="content_report" [(ngModel)]="report.content_report" ></textarea></div>
  </div>
  <div style="padding:50px;" class="form-group">
    <button type="submit" class="btn btn-success ">Save</button>
    <button type="button" class="btn btn-success " (click)="GotoReport()">Cancel</button>
  </div>
</form>